.resize
{
    max-width:90%;
    max-height:90%;
}
.text-style
{
    font-family: "Didact Gothic";
    font-size: 18px;
}

.sharePicture
{
    width: 70px;
    height: 70px;
}

.textFacebook
{
    color:rgb(57, 91, 154)
}
a.textFacebook:hover{
    color:rgb(57, 91, 154)
}

.textTwitter
{
    color:rgb(52, 205, 255)
}
a.textTwitter:hover{
    color:rgb(52, 205, 255)
}


.textGmail
{
    color:rgb(199,22,16)
}
a.textGmail:hover
{
    color:rgb(199,22,16)
}